* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT';
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header {
    text-align: center;
    background-color: #eaeaea24;
}
   

.page-title {
    background-color: rgb(75, 137, 75);
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.776);
    text-align: center;
    padding: 20px 0;
}
.page-title img {
    width: 200px;
    height: 150px;
    padding: 0%;
    margin: 0%;
}
    


.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8e8e8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .login-button {
    margin-left: auto;  
    background-color: rgb(75, 137, 75);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.topnav .login-button:hover {
    background-color: #45a049;
}

.description {
    position: absolute;
    top: 250px;
    left: 10px;
    z-index: 10;
    background: #d5ffbd;
    padding: 30px;
}

#outerbox {
    width: 300px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center; 
    margin: 10px auto;
    box-shadow: 10px 15px 20px; 
   
}

.sliderbox {
    position: relative;
    display: flex;
    width: 100x;
    height: 350px;
    animation: slider 20s infinite;
    align-items: center;
    align-content: center;
}

.sliderbox img {
   
    width: 300px;
    height: 350px;
    align-items: center;
    justify-content: center;

}

@keyframes slider {
    2%{
        left: 0px;
    }
    5% {
        left: -290px;
    }
    13%{
        left: -603px;
    }
    19%{
        left: -905px;
    }
    24%{
        left: -1200px;
    }
    28%{
        left: -1500px;
    }
    35%{
        left: -1800px;
    }
    38%{
        left: -3000x;
    }
    40%{
        left: -2095px;
    }
    44% {
        left: -2450;
    }
    50%{
        left: -2400px;
    }
    55%{
        left: -2700px;
    }
    
}
 

.topnav a {
    float: left;
    display: block;
    color: rgb(23, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
    justify-content: center;
    
}

.topnav a:hover {
    color: white;
    background-color: #45624e;
    box-shadow: #93a1a1;
    -webkit-box-shadow: 0px 0px 80px 30px #d4f3b7;
    -moz-box-shadow: 0px 0px 80px 30px #d4f3b7; 
    text-decoration: underline white;
}



.footer {
    background-color: rgb(75, 137, 75);
    text-align: center;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: auto;
   padding: 10px;
}



.footer_links {
   margin-bottom: 0;
   margin-top: 0;
}

.footer_links a {
    margin: 0 5px;
    color: rgb(36, 38, 38);
    text-decoration: none;
}

.footer_links a:hover {
    color: #d4f3b7;
    text-decoration: underline white;
}

.footer_bottom {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    padding: 0;
}

.footer_bottom p{

    margin: 0;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #f9f9f9;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}

.small-modal {
    height: 610px; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    font-family: 'Gill Sans MT';
    color: #333;
    text-align: center;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    font-family: 'Gill Sans MT';
    color: #666;
}

.modal-content input[type="email"],
.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Gill Sans MT';
}

.modal-content input[type="radio"] {
    margin: 0;
}

.modal-content button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #45a049;
}

.modal-content p {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
}

.modal-content a {
    color: #4CAF50;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}
